<div class="container row buttons">
  <%= link_to "Pendetes", unresolved_path, class: "btn red col s3" %>
  <span class="col s1"></span>
  <%= link_to "Resolvidos", resolved_path, class: "btn green col s3" %>
  <span class="col s1"></span>
  <%= link_to "Todos", logs_path, class: "btn black col s3" %>
</div>